# Python caches
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Instance/runtime artifacts
instance/
static/uploads/

# Environment files
.env
.env.*

# Databases
*.db
*.sqlite*
*.sqlite3

# Alembic / migrations cache
alembic.ini
migrations/versions/*.pyc
